# Project files
.Rproj.user
.Rhistory
.RData
..Rcheck/
.Rapp.history

# Drake files
.drake/

# Files produced by data system
outputs/
xml*/
sample-generator/outputs/
R/*.html
Rplots.pdf

# Vignette files
inst/doc

# Potential proprietary files
IEA_EnergyBalances_2019.csv.gz
*CEDS_emissions.csv

# OS files
.DS_Store

# emacs backup files
*~

# junk produced when developing the python scripts
*pycache*


# FAOSTATA raw zip
inst/extdata/FAOSTAT/*.zip
inst/extdata/FAOSTAT_Archive*/*

# Model-specific gcamfaostat output files
gcamfaostat*/

# Model-specific input files
inst/extdata/GCAM/mi_headers
inst/extdata/GCAM/ModelInterface
inst/extdata/GCAM/aglu/FAO/GCAMFAOSTAT*


# Developer
paper
developertemp
data-raw/SciData/*

#docs
